<!-- star-history-pages:start -->
## Star History

<p align="center">
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="__STAR_HISTORY_PAGES_URL__/star-history-dark.svg" />
    <source media="(prefers-color-scheme: light)" srcset="__STAR_HISTORY_PAGES_URL__/star-history-light.svg" />
    <img alt="Star History Chart for __STAR_HISTORY_REPOSITORY__" src="__STAR_HISTORY_PAGES_URL__/star-history-light.svg" width="80%" />
  </picture>
</p>
<!-- star-history-pages:end -->
