{
  "schema_version": 1,
  "repository": "__STAR_HISTORY_REPOSITORY__",
  "updated_at": "1970-01-02T00:00:00Z",
  "bootstrap": true,
  "logo_url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIHWP4z8DwHwAFgAI/ScL7WQAAAABJRU5ErkJggg==",
  "star_records": [
    {
      "date": "1970/1/1 0:0:0",
      "count": 0
    },
    {
      "date": "1970/1/2 0:0:0",
      "count": 0
    }
  ]
}
